<!DOCTYPE html>
<html lang="en">
<head>
  {{>headerlinks}}
</head>
<body>
    {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right my_img">
                        <!-- carousels start here  -->
                        <figure>
                            <img src="images/girl-1.png" class="img-fluid" alt="">
                        </figure>

                        <!-- carousel ends here  -->

                    </div>
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left ">
                        <p>Welcome to weather app</p>
                        <h1>I am a <span class="text_clr">Mern Stack Developer </span> and a ug student</h1>
                        <a href="/weather"><button class="btn">About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{>footer}}




    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>
</body>
</html>