<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
    
  {{>navbar}}

    <!-- main header  -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                
               <div class="main_content">
                <form class="temp_form">
                    <input type="text" id="cityName" placeholder="Enter your city Name" autocomplete="off">
                    <input type="submit" value="search" id="submitBtn">
                </form>
               </div> 

               <div class="tempInfo">
                <div class="top_layer">
                    <p id="day">Tuesday</p>
                    <p id="today_date">15 OCT</p>
                </div>
                <div class="main_layer">
                    <p id="city_name">Get Output Here</p>
                    <div class="middle_layer data_hide">
                        <p id="temp"><span>0</span><sup>o</sup>C</p>
                        <p id="temp_status"><i class="fa-solid fa-temperature-low weather_img"></i></p>
                    </div>
                </div>
               </div>


            </div>
        </div>
    </div>

    {{>footer}}


 
    <script src="js/main.js"></script>



 <!-- date info js file   -->

 <script>
    const getCurrentDay = () => {
  var months = [
    "Jan",
    "Feb",
    "Mar",
    "Apr",
    "May",
    "June",
    "July",
    "Aug",
    "Sept",
    "Oct",
    "Nov",
    "Dec",
  ];
  var weekday = new Array(7);
  weekday[0] = "Sunday";
  weekday[1] = "Monday";
  weekday[2] = "Tuesday";
  weekday[3] = "Wednesday";
  weekday[4] = "Thursday";
  weekday[5] = "Friday";
  weekday[6] = "Satureday";

  var now = new Date();
  var month = months[now.getMonth()];
  var date = now.getDate();
  days = weekday[now.getDay()];
  console.log(days);
  console.log(month);
  console.log(date);
  let day = document.getElementById("day");
  day.innerText = days + " " + month + " " + date;
};

const getCurrentTime = () => {
  var now = new Date();
  let hours = now.getHours();
  let mins = now.getMinutes();
  let sec = now.getSeconds();

  let periods = "AM";
  if (hours << 11) {
    periods = "PM";
    if (hours > 12) hours -= 12;
  }
  if (mins < 10) {
    mins = "0" + mins;
  }

  let today_date = document.getElementById("today_date");
  today_date.innerText = hours + ":" + mins + ":" + sec + " " + periods;
};
getCurrentDay();
getCurrentTime();

 </script>
</body>
</html>